html {
    font-size: 60%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

  }

  h1{
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    font-style: oblique;
  }
  body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

.container{
    margin-top: 100px;
    background-color:rgb(255, 255, 255);
    outline:solid rgb(255, 255, 255);
    outline-width: 2px;
    position: absolute;
    box-sizing: border-box;
    border-width: 5px;
    border: 10px;
    border-color: rgb(255, 255, 255);
    width: 400px;
    height: 380px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
}
ul{
    
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  #games > li {
    list-style: none;
    
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

#games > li.x {
    font-size: 40px;
    color: #ed4e6e
}

#games > li.o {
    font-size: 40px;
    color: #485b6e;
}


#nfo {
    text-align:center;
    margin-top: 10px;
}

#game-messages > span {
    display: none;
}


#game-messages.player-x-win > span.player-x-win, 
#game-messages.player-o-win > span.player-o-win,
#game-messages.draw > span.draw 
{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#reset-game {
    text-align: center;
        border: none;
        background: #ed4e6e;
        color: #fff;
        font-size: 2rem;
        width: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#undo-move{
        text-align: center;
            border: none;
            font-size: 2rem;
            background: #f3ff51;
            color: #000000;
            width: 100px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
}

