@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1
{
    margin-top: 15px;
    text-align: center;
    font-family: playfair display;
    font-size: 2rem;
}

button{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px; 
    width: auto;
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }

.container
{
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

#game-tiles {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }

#game-messages > span 
{
    display: none;
}
#game-over > span 
{
    display: none;
}
#game-messages.good-move > span.good-move, 
#game-messages.bad-move > span.bad-move
{
    color:rgb(234, 0, 255);
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'Ink Free', sans-serif;
}




