html {
  font-size: 60%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}

body
{
  margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #ffffff;
}
h1{
  text-align: center;
  margin-top: 12px;
  font-family: Segoe Script, cursive;
  font-size: 4rem;
  font-style: oblique;
  color: rgb(106, 0, 255);
}
.container{
    margin-top: 100px;
    background-color:#ffffff;
    outline-width: 2px;
    position: absolute;
    box-sizing: border-box;
    border-width: 5px;
    border: 10px;
    border-color: rgb(0, 0, 0);
    width: 400px;
    height: 350px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
 
}

#tic-tac-toe-grid {
  display: grid;  
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  font-size: 5.5rem;
  font-family: Ink Free, sans-serif;
  color: #00d9ff;
}

.tile {
  box-sizing: border-box;
width: 100px;
height: 100px;
background: #ffffff;
border: solid 2px rgb(0, 0, 0);
display: flex;
cursor: pointer;
text-transform: uppercase;
text-align: center;
align-items: center;
justify-content: center;
}



button {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
}

#nfo {
  text-align:center;
  margin-top: 8px;
  color: rgb(0, 0, 0);
}

#game-messages > span {
  display: none;
}

#game-turn > span {
  display: none;
}


#game-messages.player-x-win > span.player-x-win, 
#game-messages.player-o-win > span.player-o-win,
#game-messages.draw > span.draw 
{
    color:rgb(0, 122, 102);
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'Ink Free', sans-serif;
}

#game-turn.player-x-turn > span.player-x-turn, 
#game-turn.player-o-turn > span.player-o-turn,
#game-turn.game-over > span.game-over
{
    color: rgb(166, 0, 226);
    text-align: center;
    display: block;
    margin-bottom: 2px;
    font-size: 3rem;
    font-family: 'Ink Free', sans-serif;
}

#score{
    text-align: center;
    margin-top: 5px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


